*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
    background-color: rgb(137, 109, 163);
}
nav h1{
    color: white;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
ul{
    display: flex;
    margin-left: 70%;
    
}
    
ul li{
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}
ul li a{
    color:white;
    text-decoration: none;
    transition: 0.2s;
}
ul li a:hover{
    color: rgb(238, 240, 124);
}
.info{
    background-color: rgb(137, 109, 163);
    
    
    height: 80vh;
}
.name{
    color:rgb(10, 10, 10);
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    width: max-content;
    font-size: 35px;
    font-family: monospace;
    transition: 0.1s ease-in;
    cursor: pointer;
}
.name:hover{
    color:  rgb(238, 240, 124);
}
.info section h4{
    color:white;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    margin-top:2%;
    font-size: 18px;
}
.info section  .imgs{
    margin-left: auto;
    margin-right:auto;
    width: max-content;
   
   
}
.info section img{
   
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s;
   
}
.info section img:hover{
    filter: brightness(1);
    border-radius: 20px;
}
footer{
    background-color: rgb(180, 179, 137);
    display:flex;
    justify-content: space-between;
}
footer div h1{
    color:white;
    margin-left: 20px;
    padding-top: 10px;
    font-family: 'Prompt', sans-serif; ;
}
footer h3{
    margin-left: 30px;
    padding-top: 10px;
    font-family: 'Prompt'
}
footer .informations{
    margin-bottom: 10px;
    
}
footer .social{
    margin-top: 70px;
}

.social a{
    text-decoration: none;
}

.social a img{
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
}

.social a img:hover{
    transform: rotate(360deg);
}
.copyrights h3{
        margin-right: 15px;
        margin-top: 70px;
       font-family: 'prompt' ;
    }
#nav-projects{
    background-color: rgb(211, 142, 180);
}
#projects{
    background-color: rgb(95, 63, 82);
}
section h1{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
   
}
.project{
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px ;
    margin-bottom: 100px;
    background-color: #6d5b9b;
    border-radius: 15px;
    box-shadow: black 3px 6px 10px;
}


#projects h1{
    font-family:  Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding-top: 10px;
    font-size: 35px;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bolder;
    
}

#projects h1:hover {
    color: goldenrod;
    text-shadow: black 2px 1px;
}

.project p, .project h6 , .project h3 , .project a{
    padding: 10px;
}

.project p{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.project h3{
    text-align: center;
    color: goldenrod;
    font-weight: bolder;
    font-size: 26px;
    font-family: cursive;
}

.project a{
    text-decoration: none;
    color: white;
    border: solid white 0.5px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 6px;
}

.project a:hover{
    color: goldenrod;
    border: solid goldenrod 0.5px;
    border-radius: 6px;
}
#contact{
    
    color: rgb(228, 226, 110);
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    font-size: 40px;
    margin-top: 30px;

}
#contact-body{
    background-color: rgb(137, 109, 163);
}
fieldset{
    width: max-content;
    margin-left:auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 100px;
    margin-top: 30px;
    border-radius: 10px;
}

legend{
    color: white;
    font-family: cursive;
    font-size: 25px;
}


label, input{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

label{
    color: rgb(228, 228, 228);
    font-size: 13px;
    font-family: cursive;
}

input{
    width: 100%;
    height: 20px;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 13px;
    color: white;
    background-color: black;
    transition: 0.4s;
}

button:hover{
    color: black;
    background: white;
}

textarea{
    display: block;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    resize: none;
    width: 100%;
    
}
select{
    width: 30%;
    border-radius: 5px;
}    
    


